<h1>ExClasses#show</h1>
<p>Find me in app/views/ex_classes/show.html.erb</p>

<center>
  <p>Your word:</p>
  <p><% Oxford.oxford_call(@ex_class).each do |x| %>
    <li><%= x.capitalize %></li>
    <% end %>
  <br />
  <p>
  <%= link_to 'See all words', ex_classes_path %>
</p>
</center>
