<h1>OxfordCalls#index</h1>
<p>Find me in app/views/oxford_calls/index.html.erb</p>

<h1>Listing Words</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Definition</th>
  </tr>

  <% @oxford_calls.each do |word| %>
    <tr>
      <td><%= word.word %>
      <td><%= word.definition %>
      <td><%= link_to 'Show', oxford_call_path(word) %></td>
    </tr>
  <% end %>
</table>
