<h1>FullCalls#index</h1>
<p>Find me in app/views/full_calls/index.html.erb</p>

<center>
<h1>LISTING WORDS</h1>
<table>
  <tbody>
    <% @full_calls.in_groups_of(4, false) do |row| %>
      <tr>
        <% for word in row %>
          <td><pre>

          <%= word %></pre></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</center>
